# Segmenting and Clustering Neighbourhoods in Toronto

## Import Librairies and data :

In [18]:
import requests
import pandas as pd
import numpy as np

After importing librairy, it is time to import data from wikipedia

In [19]:
wikipedia_link='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
raw_random_wikipedia_page = requests.get(wikipedia_link)
page = raw_random_wikipedia_page.text

## Prepare Datas

Page get lots of stuff, lets get only the ones we're interestead on and see the head.

In [20]:
df = pd.read_html(page,header=0)
df = df[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [21]:
df = df.groupby(('Postcode','Borough'))['Neighbourhood'].unique()
df = df.to_frame()
df.reset_index(inplace=True)
df['Neighbourhood'] = df['Neighbourhood'].apply(', '.join)
df.head()

  Postcode       Borough                           Neighbourhood
0      M1A  Not assigned                            Not assigned
1      M1B   Scarborough                          Rouge, Malvern
2      M1C   Scarborough  Highland Creek, Rouge Hill, Port Union
3      M1E   Scarborough       Guildwood, Morningside, West Hill
4      M1G   Scarborough                                  Woburn

Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [22]:
df.replace('Not assigned', np.nan, inplace = True)
df.dropna(subset=["Borough"], axis=0, inplace = True)
df.head()

  Postcode      Borough                           Neighbourhood
1      M1B  Scarborough                          Rouge, Malvern
2      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
3      M1E  Scarborough       Guildwood, Morningside, West Hill
4      M1G  Scarborough                                  Woburn
5      M1H  Scarborough                               Cedarbrae

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [23]:
df["Neighbourhood"].replace(np.nan, df['Borough'], inplace=True)
df.head()

  Postcode      Borough                           Neighbourhood
1      M1B  Scarborough                          Rouge, Malvern
2      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
3      M1E  Scarborough       Guildwood, Morningside, West Hill
4      M1G  Scarborough                                  Woburn
5      M1H  Scarborough                               Cedarbrae

In [24]:
df.shape

(103, 3)